{% extends "base.html" %}

{% block content %}

{% include 'bit/navbar.html' %}
{# include 'bit/announcement.html' #}

<div class="page" id="page-co2impact">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">CO2 Impact</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
          <div id="containergauge" style="min-width: 310px; max-width: 400px; height: 300px; margin: 0 auto"></div>
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#page-delete -->


{% endblock %}
