<div class="page hidden" id="page-update">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Update</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->


        <div class="row">
            <div class="col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-refresh fa-fw"></i> Edit the details of an object
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">

                        <form id="form-update-object">
                            <fieldset class="form-group">
                                <label for="object-id">Object ID</label>
                                <select class="form-control" name="object-id">
                                </select>
                                <p class= "help-block" for="object-id">Select an object</p>
                            </fieldset>
                            <fieldset class="form-group">
                                <label for="object-name">Object Name</label>
                                <input type="text" class="form-control" name="object-name" placeholder="" required="true">
                                <p class= "help-block" for="object-name">Change the object's user-friendly name</p>
                            </fieldset>

                            <button type="submit" class="btn btn-warning">Update</button>
                        </form>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->

            </div>
            <!-- /.col-lg-8 -->

            <div class='col-lg-2 note'></div>
            <!-- /.col-lg-2 -->

        </div>
        <!-- /.row -->


        <div class="row">
            <div class="col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-refresh fa-fw"></i> Edit the details of a stream
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">

                        <form id="form-update-stream">
                            <fieldset class="form-group">
                                <label for="object-id">Object ID</label>
                                <select class="form-control" name="object-id">
                                </select>
                                <p class= "help-block" for="object-id">Select an object</p>
                            </fieldset>
                            <div id="form-conditional-update-stream">
                              <fieldset class="form-group">
                                  <label for="stream-id">Stream ID</label>
                                  <select class="form-control" name="stream-id">
                                  </select>
                                  <p class= "help-block" for="stream-id">Select a stream</p>
                              </fieldset>
                              <fieldset class="form-group">
                                  <label for="stream-name">Stream Name</label>
                                  <input type="text" class="form-control" name="stream-name" placeholder="" required="true">
                                  <p class= "help-block" for="stream-name">Change the stream's user-friendly name</p>
                              </fieldset>
                              <button type="submit" class="btn btn-warning">Update</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->

            </div>
            <!-- /.col-lg-8 -->

        </div>
        <!-- /.row -->


        <div class="row">
            <div class="col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-refresh fa-fw"></i> Add a new point to a stream
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">

                        <form id="form-update-points">
                            <fieldset class="form-group">
                                <label for="object-id">Object ID</label>
                                <select class="form-control" name="object-id">
                                </select>
                                <p class= "help-block" for="object-id">Select an object</p>
                            </fieldset>
                            <div id="form-conditional-update-points">
                              <fieldset class="form-group">
                                  <label for="stream-id">Stream ID</label>
                                  <select class="form-control" name="stream-id">
                                  </select>
                                  <p class= "help-block" for="stream-id">Select a stream</p>
                              </fieldset>
                              <fieldset class="form-group">
                                  <label for="points-value">Point Value</label>
                                  <input type="text" class="form-control" name="points-value" placeholder="A new point value" required="true">
                                  <p class= "help-block" for="points-value"></p>
                              </fieldset>
                            <fieldset class="form-group">
                                <label for="points-at">Point At (Optional)</label>
                                <input type="datetime" class="form-control datetimepicker" name="points-at" placeholder="Timestamp">
                                <p class= "help-block" for="points-at"></p>
                            </fieldset>
                              <button type="submit" class="btn btn-warning">Update</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-8 -->
        </div>
        <!-- /.row -->


    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#page-update -->
