<!-- jQuery -->
<script src="/js/jquery-2.2.4.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/js/metisMenu.min.js"></script>

<!-- Prism Plugin JavaScript -->
<script src="/js/prism.js"></script>

<!-- Highcharts Plugin JavaScript -->
<script src="/js/highcharts.js"></script>
<script src="/js/highcharts.exporting.js"></script>
<script src="/js/highcharts.offline-exporting.js"></script>

<!-- DateTimePicker Plugin JavaScript -->
<script src="/js/jquery.datetimepicker.full.js"></script>

<script>
  {% if data.enable_ws %}
  var enable_ws = true;
  {% else %}
  var enable_ws = false;
  {% endif %}
</script>

<!-- Custom Theme JavaScript -->
<script src="/js/dashboard.js"></script>

<!-- Extensions to Custom Theme JavaScript -->
<script src="/js/extend_dashboard.js"></script>

{% if data.isCreate %}
<script>console.log('iscreate')</script>
<script src="/js/custom-create.js"></script>

{% elif data.isView %}
<script>console.log('isview')</script>
<script src="/js/custom-view.js"></script>

{% elif data.isUpdate %}
<script>console.log('isupdate')</script>
<script src="/js/custom-update.js"></script>

{% elif data.isDelete %}
<script>console.log('delete')</script>
<script src="/js/custom-delete.js"></script>

{% else %}
<script>console.log('nothing')</script>

{% endif %}
